body{
    overflow-x: hidden;
}
.landing-section {
    position: relative;
    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
}
.hi {
    color: transparent;
    font-size: 250px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-stroke: 1px #0f0715;
    -webkit-text-stroke: 1px #0f0715;
    animation: 4s pulsate infinite alternate ease-in-out;
    opacity: 0.1;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}


@keyframes pulsate{
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.landing-infos{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
    width: 100%;
    align-items: center;
    z-index: 100;
}

.landing-section::before {
    left: 0;
    transform: skewX(-25deg);
}

.landing-section::after {
    right: 0;
    transform: skewX(25deg);
}
  .infosOne{
    padding: 0 30px 0 50px;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .infosOne h1 span{
    color: #0f0715;
    font-size: 40px;
    z-index: 100;
  }
  .infosOne p {
    color: #555;
    line-height: 1.7em;
    z-index: 100;
    font-family: Mulish, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .infosOne h1 {
    font-weight: 700;
    color: #2d2e32;
    letter-spacing: 2px;
    font-size: 3.7rem;
}
.infosOne h1 img
{
    width: 50px;
    margin: -10px 15px;
}

.infosOne .buttons {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    z-index: 100;
}


.social-icons{
    align-self: center;
    padding: 0 15px;
    display: flex;
    gap: 15px;
    z-index: 100;
}

.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .7s;
    z-index: 100;
}

.social-icons img:hover{
    background-color: white;
}

.infosOne .buttons button{
    color: #2d2e32;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    border-radius: 50px;
    padding: 17px 45px;
    border: 1px solid #555;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
    background-color: transparent;
    z-index: 100;
}
.infosOne .buttons button:hover{
    background-color: #2d2e32;
    color: whitesmoke;
}
.infosTwo
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.infosTwo img{
    width: 60%;
    z-index: 100;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes morph
{
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
@media only screen and (max-width: 767px) {
    .hi{
        font-size: 200px;
        top: 20%;
    }
    .landing-infos{
        grid-template-columns: 1fr;
    }
    .infosOne .buttons button{
        font-size: 14px;
        padding: 14px 30px;
    }
    .infosOne .buttons{
        grid-template-columns: 2fr 1.5fr;
    }
    .infosOne h1 span{
        font-size: 30px;
    }
    .infosOne h1{
        margin-top: 20px;
        font-size: 33px;
    }
    .infosTwo{
        display: none;
    }
    .infosOne{
        height: calc(100vh - 90px);
        align-self: end;
        padding: 50px 30px;
    }

    .infosOne p {
        margin-top: 20px;
        line-height: 2.3em;
    }

    .infosOne .buttons{
        padding: 50px 0;
    }

}


