body{
    overflow-x: hidden;
}


.landing-section {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #fff, rgba(135, 80, 247, 0.05));
    overflow: hidden;
}
/*

*/

.hi {
    color: transparent;
    font-size: 250px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-stroke: 1px #0f0715;
    -webkit-text-stroke: 1px #0f0715;
    animation: 4s pulsate infinite alternate ease-in-out;
    opacity: 0.1;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}


@keyframes pulsate{
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.landing-infos{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
    width: 100%;
    align-items: center;
    z-index: 100;
  }

/*.landing-infos::before,
.landing-infos::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0));
}
*/
.landing-section::before {
    left: 0;
    transform: skewX(-25deg);
}

.landing-section::after {
    right: 0;
    transform: skewX(25deg);
}




  .infosOne{
    justify-self: end;
    padding: 0 50px;
    z-index: 100;
  }
  .infosOne h1 span{
    color: #0f0715;
    font-size: 40px;
    z-index: 100;
  }
  .infosOne p {
    color: #0f0715;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.7em;
    z-index: 100;
  }

  .infosOne h1 {
    font-size: 50px;
    background: linear-gradient(to right, #8750f7 0%, #0f0715 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    line-height: 1.3em;
    z-index: 100;
}


.infosOne .buttons {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    z-index: 100;
}


.social-icons{
    align-self: center;
    padding: 0 15px;
    display: flex;
    gap: 15px;
    z-index: 100;
}

.social-icons img{
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #8750f7;
    cursor: pointer;
    transition: .7s;
    z-index: 100;
}

.social-icons img:hover{
    background-color: white;
}

.infosOne .buttons button{
    color: #8750f7;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: #8750f7;
    border-radius: 50px;
    padding: 17px 45px;
    border: 1px solid #8750f7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
    background-color: transparent;
    z-index: 100;
}
.infosOne .buttons button:hover{
    background-color: #8750f7;
    color: whitesmoke;
}


.infosTwo img{
    width: 100%;
    animation: ani 2s infinite alternate backwards;
    z-index: 100;
}

@keyframes ani{
    to{
        transform: translateY(-20px);
    }
}

.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 100;
    padding: 50px 100px;
}

.part{
    display: grid;
    z-index: 100;
    grid-template-columns: 0.5fr 2fr;
    gap: 20px;
}

.num{
    justify-self: end;
    z-index: 100;
    align-self: center;
    font-weight: 700;
    font-size: 55px;
    color: #8750f7;
    font-family: "Helvetica Neue", sans-serif;
}
.text{
    align-self: center;
    z-index: 100;
    color: #8750f7;
    font-size: 18px;
    font-family: Sora, sans-serif;
    z-index: 100;
}
@media only screen and (max-width: 767px) {
    .hi{
        font-size: 200px;
        top: 20%;
    }
    .numbers{
        grid-template-columns: 1fr 1fr;
        padding: 15px 20px 120px 20px;
        gap: 40px;
    }
    .part{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .num{
        justify-self: center;
    }
    .text{
        align-self: center;
        justify-self: center;
    }
    .landing-infos{
        grid-template-columns: 1fr;
    }
    .infosOne .buttons button{
        font-size: 14px;
        padding: 14px 30px;
    }
    .infosOne .buttons{
        grid-template-columns: 2fr 1.5fr;
    }
    .infosOne h1 span{
        font-size: 30px;
    }
    .infosOne h1{
        margin-top: 20px;
        font-size: 33px;
    }
    .infosTwo{
        display: none;
    }
    .infosOne{
        height: calc(100vh - 90px);
        align-self: end;
        padding: 50px 30px;
    }

    .infosOne p {
        margin-top: 20px;
        line-height: 2.3em;
    }

    .infosOne .buttons{
        padding: 50px 0;
    }

}


