.about-section
{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 110px;
    padding: 120px 0;
}
.about-section-two
{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
}

.about-section-two h2
{
    color: #147efb;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.about-section-two h1
{
    color: #2d2e32;
    font-size: 1.5rem;
    font-family: Mulish, sans-serif;
    line-height: 1.5;
    font-weight: 900;
}
.about-section-two p
{
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.9;
}
.about-section-one
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.about-section-one-one
{
    width: 60%;
    border-radius: 20px;
    height: 100%;
    position: relative;
}
.about-section-one-one::before
{
    content: '';
    width: 190px;
    height: 190px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: -40px;
    background-image: url('https://www.stefantopalovic.com/static/media/working-emoji.c5325f52b5be329995a5.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.about-section-one-one::after
{
    content: '';
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: -40px;
    bottom: -40px;
    background-image: url('https://www.stefantopalovic.com/static/media/text2.3d5aa6ba2d0632bb4e0572631c3f9dc2.svg');
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    animation: rotate 9s infinite linear;
}
@media only screen and (max-width: 767px) {
    .about-section-one-one::before
    {
        width: 120px;
        height: 120px;
        right: -15px;
        bottom: -15px;
    }
    .about-section-one-one::after
    {
        width: 120px;
        height: 120px;
        right: -15px;
        bottom: -15px;
    }
    
    .about-section
    {
        height: auto;
        grid-template-columns: 1fr;
        padding: 50px 0;
    }
    .about-section-two
    {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .about-section-one-one
    {
        width: 90%;
        margin: 0 auto;
    }
    .about-section-two p
    {
        font-size: 1.2rem;
    }
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.about-section-one-one img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}